body{
    background-color: rgb(144, 146, 238);
    font-family: Arial, Helvetica, sans-serif;
}
/* Container central */
.container {
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: rgb(73, 12, 153);
    text-align: center;
}
.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.filters button {
    flex: 1;
    margin: 0 5px;
    background-color: #ddd;
    color: black;
}
.filters button.active {
    background-color: rgb(73, 12, 153);
    color: white;
}

/* Input + botão */
.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    height: 36px;
    border: 2px solid rgb(73, 12, 153);
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
}
button{
    border: none;
    background-color: rgb(73, 12, 153);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 15px;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(168, 73, 212);
}
ul{
    list-style: none;
    padding:0;
}
/* Estado concluído */
li.completed {
    background-color: #aaa;
    text-decoration: line-through;
}
/* Botão de ação */
.actions {
    display: flex;
    gap: 10px;
}
.actions span {
    cursor: pointer;
}